<div id="mySidenav" class="sidenav no-padding-margin">
    <div class=" bgGreen">
        <div class="center padding-top-15px padding-bottom-15px whiteColor">Yelsabawy</div>
        <div ><a href="javascript:void(0)" class="noaHref closebtn" onclick="closeNav()">&times;</a></div>
    </div>
  
    
    <div class="container-fluid">
        <div data-toggle="collapse" data-target="#allCategories" class="collapseSlider container-fluid greenColor flex-start">
            <div class="vertical-center">All Categories</div>
           <div class="vertical-center" style="right: 25px; position: absolute;"><span class="caret"></span></div> 
        </div>
        <div id="allCategories" class="collapse greenColor ">
           <div class="margin-left-20px">
               <a class="noaHref greenColor">Milk</a>
               <a class="noaHref greenColor">Vegetables</a>
               <a class="noaHref greenColor">Fruits</a>
               <a class="noaHref greenColor">Chicken</a>
               <a class="noaHref greenColor">Meat</a>
               <a class="noaHref greenColor">Bevereges</a>
           </div>
        </div>
        <hr class="hrThick">
        <div class="collapseSlider container-fluid greenColor flex-start">Home</div>
        <hr class="hrThick">
        <div class="collapseSlider container-fluid greenColor flex-start">Deals</div>
        <hr class="hrThick">
        <div class="collapseSlider container-fluid greenColor flex-start">Recipes</div>
        <hr class="hrThick">
        <div class="collapseSlider container-fluid greenColor flex-start">About</div>
        <hr class="hrThick">
        <div class="collapseSlider container-fluid greenColor flex-start">FAQS</div>
        <hr class="hrThick">
        <div class="collapseSlider container-fluid greenColor flex-start">Track Order</div>
        <hr class="hrThick">
        <div class="collapseSlider container-fluid greenColor flex-start">Help</div>
        <hr class="hrThick">
        <div class="collapseSlider container-fluid greenColor flex-start">Contact Us</div>
                
    </div>
    
    
</div>