<!DOCTYPE html>
<html >

    <head>

        <!-- css sheet start-->
        
            <!-- css components sheet start-->
            <link rel="stylesheet" type="text/css" href="../css/components/items.css"/>
            <link rel="stylesheet" type="text/css" href="../css/components/colors.css"/>
            <link rel="stylesheet" type="text/css" href="../css/components/form.css"/>
                <!-- css components sheet end-->
                <!-- css includes sheet start-->
            <link rel="stylesheet" type="text/css" href="../css/includes/header1.css"/>    
            <link rel="stylesheet" type="text/css" href="../css/includes/header2.css"/>    
            <link rel="stylesheet" type="text/css" href="../css/includes/userNavbar.css"/>
            <link rel="stylesheet" type="text/css" href="../css/includes/footer.css"/>       
                <!-- css includes sheet end-->
                <!-- css general sheet start-->
            <link rel="stylesheet" type="text/css" href="../css/general.css"/>    
                <!-- css general sheet end-->    
                <!-- css page sheet end-->    
            <link rel="stylesheet" type="text/css" href="../css/FAQs.css"/>
                <!-- css page sheet end-->
                <!-- css bootstrap3.4.1 sheet end-->    
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
                <!-- css bootstrap3.4.1 sheet end-->
            
            <!-- css sheet start-->
            
            <!-- js file start-->
                <!-- js header2 file start-->
            <script src="../js/includes/header2.js"></script> 
                <!-- js header2 file end-->
                <!-- js bootstrap file start-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                <!-- js bootstrap file end-->
            
            <!-- js file end-->
            
            <title>FAQs</title>
    </head>

<body>


<!-- sidenavbar start-->
<%- include('../include/sidenavbar'); %>
<!-- sidenavbar end-->


<div id="myBody">    
<!--header1 Start-->
    <%- include('../include/header1'); %>
<!--header1 End-->
<!--header1 Start-->
    <%- include('../include/header2'); %>
<!--header1 End-->
    <!-- FAQ Start -->
    <div class="container faqBlock">
        <p class="faqHeaderText"> General </p>

        <div class="faq">            
            <button class="faqQuestion" type="button" data-toggle="collapse" data-target="#generalQuestionOne" aria-expanded="false" aria-controls="collapseExample">
                What is Supermarket?
            </button>
            <div class="collapse" id="generalQuestionOne">
                <div class="card card-body faqAnswer">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
      </div>
        <div class="faq">            
            <button class="faqQuestion" type="button" data-toggle="collapse" data-target="#generalQuestionTwo" aria-expanded="false" aria-controls="collapseExample">
                How can i make an order on supermarket for the first time?
            </button>
            <div class="collapse" id="generalQuestionTwo">
                <div class="card card-body faqAnswer">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
      </div>
      <div class="faq">            
        <button class="faqQuestion" type="button" data-toggle="collapse" data-target="#generalQuestionFive" aria-expanded="false" aria-controls="collapseExample">
            What kind of products do you have?
        </button>
        <div class="collapse" id="generalQuestionFive">
            <div class="card card-body faqAnswer">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
      </div>
        <div class="faq">            
            <button class="faqQuestion" type="button" data-toggle="collapse" data-target="#generalQuestionThree" aria-expanded="false" aria-controls="collapseExample">
                How can i pay for my order?
            </button>
            <div class="collapse" id="generalQuestionThree">
                <div class="card card-body faqAnswer">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
      </div>
        <div class="faq">            
            <button class="faqQuestion" type="button" data-toggle="collapse" data-target="#generalQuestionFour" aria-expanded="false" aria-controls="collapseExample">
                How can i send you feedback?
            </button>
            <div class="collapse" id="generalQuestionFour">
                <div class="card card-body faqAnswer">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
      </div>
      <p class="faqHeaderText"> Delivery </p>

      <div class="faq">            
          <button class="faqQuestion" type="button" data-toggle="collapse" data-target="#deliveryQuestionOne" aria-expanded="false" aria-controls="collapseExample">
              Which areas do you deliver to?
          </button>
          <div class="collapse" id="deliveryQuestionOne">
              <div class="card card-body faqAnswer">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
          </div>
    </div>
      <div class="faq">            
          <button class="faqQuestion" type="button" data-toggle="collapse" data-target="#deliveryQuestionTwo" aria-expanded="false" aria-controls="collapseExample">
              Is there a minimum order?
          </button>
          <div class="collapse" id="deliveryQuestionTwo">
              <div class="card card-body faqAnswer">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
          </div>
    </div>
    <div class="faq">            
      <button class="faqQuestion" type="button" data-toggle="collapse" data-target="#deliveryQuestionThree" aria-expanded="false" aria-controls="collapseExample">
          Do you have 24/7 delivery?
      </button>
      <div class="collapse" id="deliveryQuestionThree">
          <div class="card card-body faqAnswer">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          </div>
      </div>
    </div>
    </div>

    </div>




    <!--footer Start-->
    <%- include('../include/footer'); %>
    <!--footer End-->

</body>

</html>