<!DOCTYPE html>
<html >

    <head>

        <!-- css sheet start-->
        
            <!-- css components sheet start-->
            <link rel="stylesheet" type="text/css" href="../css/components/items.css"/>
            <link rel="stylesheet" type="text/css" href="../css/components/colors.css"/>
            <link rel="stylesheet" type="text/css" href="../css/components/form.css"/>
                <!-- css components sheet end-->
                <!-- css includes sheet start-->
            <link rel="stylesheet" type="text/css" href="../css/includes/header1.css"/>    
            <link rel="stylesheet" type="text/css" href="../css/includes/header2.css"/>    
            <link rel="stylesheet" type="text/css" href="../css/includes/userNavbar.css"/> 
            <link rel="stylesheet" type="text/css" href="../css/includes/footer.css"/>      
                <!-- css includes sheet end-->
                <!-- css general sheet start-->
            <link rel="stylesheet" type="text/css" href="../css/general.css"/>    
                <!-- css general sheet end-->    
                <!-- css page sheet end-->    
            <link rel="stylesheet" type="text/css" href="../css/help.css"/>
                <!-- css page sheet end-->
                <!-- css bootstrap3.4.1 sheet end-->    
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
                <!-- css bootstrap3.4.1 sheet end-->
            
            <!-- css sheet start-->
            
            <!-- js file start-->
                <!-- js header2 file start-->
            <script src="../js/includes/header2.js"></script> 
                <!-- js header2 file end-->
                <!-- js bootstrap file start-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                <!-- js bootstrap file end-->
            
            <!-- js file end-->
            
            <title>help</title>
    </head>

<body>
<!-- sidenavbar start-->
<%- include('../include/sidenavbar'); %>
<!-- sidenavbar end-->


<div id="myBody">    
<!--header1 Start-->
    <%- include('../include/header1'); %>
<!--header1 End-->
<!--header1 Start-->
    <%- include('../include/header2'); %>
<!--header1 End-->
		<div class="container ">
			<div class="center">
				<h1 class="greenColor bold">Terms and Conditions</h1>
			</div>
            <div class="scrollDiv fontBigger">
                <div class="center"><h3 class="welcomeToYelsabawyMarket bold">welcome To Yelsabawy Market</h3></div><br>
                
                <p>Here you can find all the terms and conditions that we apply to perform our provided services at the highest level of our standards. If you’re here, that means you’re smart enough to read them carefully before using our services.</p>
                <b>
                    PLEASE READ THE FOLLOWING TERMS AND CONDITIONS CAREFULLY. THEY CONTAIN IMPORTANT INFORMATION ABOUT YOUR RIGHTS AND OBLIGATIONS, AS WELL AS LIMITATIONS AND EXCLUSIONS THAT APPLY TO YOUR PURCHASES.
                </b><br><br>
                <h4 class="bold greenColor">GENERAL SCOPE</h4>
                <p>
                    Metro Markets provide software-based delivery services for goods such as food, beverages, and other grocery products (collectively, Groceries). These terms (Terms of Service) apply when you use the Metro Markets online outlets (Collectively, Services).
                </p>
                <br>
                <h4 class="bold greenColor">REGISTRATION and ORDERING PROCESS</h4>
                <h4 class=" greenColor">2.1. REGISTRATION</h4>
                <p>You are the sole authorized User of the account (Account) you create using the Services. Your action of registration constitutes your acceptance of the Terms of Service and the Privacy Policy, and your state that you are not less than 21 (twenty-one) years of age. Registration is free of charge. No entitlement exists for admission to the Service. The data required for registration provided by the User must be complete and accurate. The User is responsible for updating his/her data that can be amended at any time from the respective interface of the Service. Metro Markets has no responsibility for the use of the User account and expressly disclaims any liability therefrom. Should you suspect that any unauthorized party might be using your Account, you are obligated for your security to notify Metro Markets immediately by emailing us at contact@metro-markets.com By providing your mobile phone number to Metro Markets pursuant to the use of the Service, you hereby affirmatively consent to our use of your mobile phone number for contacting you directly in order to perform the Services, including but not limited to occasionally send notifications, text messages with promotional offers, service updates and reach out to you to survey regarding the quality of our services.</p>
                <h4 class=" greenColor">ORDER PLACEMENT / CONTRACTUAL RELATIONSHIP</h4>
                <p>You are the sole authorized User of the account (Account) you create using the Services. Your action of registration constitutes your acceptance of the Terms of Service and the Privacy Policy, and your state that you are not less than 21 (twenty-one) years of age. Registration is free of charge. No entitlement exists for admission to the Service. The data required for registration provided by the User must be complete and accurate. The User is responsible for updating his/her data that can be amended at any time from the respective interface of the Service. Metro Markets has no responsibility for the use of the User account and expressly disclaims any liability therefrom. Should you suspect that any unauthorized party might be using your Account, you are obligated for your security to notify Metro Markets immediately by emailing us at contact@metro-markets.com By providing your mobile phone number to Metro Markets pursuant to the use of the Service, you hereby affirmatively consent to our use of your mobile phone number for contacting you directly in order to perform the Services, including but not limited to occasionally send notifications, text messages with promotional offers, service updates and reach out to you to survey regarding the quality of our services.</p>
                <h4 class=" greenColor">VARIETY of LIMITATIONS</h4>
                <p>You are the sole authorized User of the account (Account) you create using the Services. Your action of registration constitutes your acceptance of the Terms of Service and the Privacy Policy, and your state that you are not less than 21 (twenty-one) years of age. Registration is free of charge. No entitlement exists for admission to the Service. The data required for registration provided by the User must be complete and accurate. The User is responsible for updating his/her data that can be amended at any time from the respective interface of the Service. Metro Markets has no responsibility for the use of the User account and expressly disclaims any liability therefrom. Should you suspect that any unauthorized party might be using your Account, you are obligated for your security to notify Metro Markets immediately by emailing us at contact@metro-markets.com By providing your mobile phone number to Metro Markets pursuant to the use of the Service, you hereby affirmatively consent to our use of your mobile phone number for contacting you directly in order to perform the Services, including but not limited to occasionally send notifications, text messages with promotional offers, service updates and reach out to you to survey regarding the quality of our services.</p>
                <h4 class=" greenColor">VOLUME LIMITATIONS</h4>
                <p>You are the sole authorized User of the account (Account) you create using the Services. Your action of registration constitutes your acceptance of the Terms of Service and the Privacy Policy, and your state that you are not less than 21 (twenty-one) years of age. Registration is free of charge. No entitlement exists for admission to the Service. The data required for registration provided by the User must be complete and accurate. The User is responsible for updating his/her data that can be amended at any time from the respective interface of the Service. Metro Markets has no responsibility for the use of the User account and expressly disclaims any liability therefrom. Should you suspect that any unauthorized party might be using your Account, you are obligated for your security to notify Metro Markets immediately by emailing us at contact@metro-markets.com By providing your mobile phone number to Metro Markets pursuant to the use of the Service, you hereby affirmatively consent to our use of your mobile phone number for contacting you directly in order to perform the Services, including but not limited to occasionally send notifications, text messages with promotional offers, service updates and reach out to you to survey regarding the quality of our services.</p>
                <br><h4 class="bold greenColor">Contact Details</h4>
                <p>Egypt. | Zahraa El Maadi  - Industrial Zone, Cairo | <span class="greenColor bold">+01283230322</span>  | Email:<span class="greenColor bold">Yelsabawyy@gmail.com</span> </p>
            </div>
		</div>
		</div>
    <!--footer Start-->
    <%- include('../include/footer'); %>
    <!--footer End-->

</body>

</html>